.title {
  display: flex;
  flex-direction: row;      
  justify-content: center;    
  color: black;
  height: 100px;
  align-items: center;          
  background: linear-gradient(to right, #ff7a00, #ff4d00);
  font-size: 30px;
  font-weight: bold;           
  text-align: center;         
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
}


.open_settings {
  background-color: #161d1c;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 15px black;
  border-radius: 20px;
  width: 310px;
  height: 850px;
}

.title h1 {
  margin-left: 20px;
}

.settings_button {
  background: transparent;
  display: flex;
  margin-left: auto;
  border: none;
  cursor: pointer;
  
}

.settings_button:hover {
  transform: scale(0.8);
}

.settings {
  background: transparent;
  border: none;
}

body {
  display: flex;
  margin: 0px;
  scroll-behavior: smooth;
  flex-direction: column;

}

.bar-buttons {
  margin-top: 10px;
  display: flex;
  background: transparent;
  flex-direction: column;
  color: white;
  cursor: pointer;
  border: none;
  width: 300px;
}

.bar-buttons:hover {
  background-color: #2d3433;
}
.msg-area{
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 30px;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.chat-area{
   height: calc(100vh - 100px - 120px);   
  overflow-y: auto; 
  padding-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;          
}
.msg-box{
  width:90%;
  max-width: 800px;
  min-width: 500px;
  min-height: 50px;
  max-height: 300px;
  resize: none;
  height: auto;
  padding: 20px 30px;
  transition: box-shadow 0.2s ease;
  border-radius: 20px;
  font-size: 20px;
  border: 1px solid #d1d9e6;
  outline: none;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);

}

.msg-box::-webkit-resizer{
  display: none;
}
.msg-box::-webkit-scrollbar{
  display: none;
}
.send-button{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  flex-shrink: 0;
  

}
.arrow-img:hover{
  transform: scale(1.2);
}



.user {
  display: flex;
  justify-content: flex-end;
  margin: 12px 0;
}

.bot {
  display: flex;
  justify-content: flex-start;
  margin: 12px 0;
} 

.user p, .bot p {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 29px 32px;
  border: 2px solid #ea580c;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  max-width: 30%;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.user img, .bot img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

